.App {
  max-width: 480px;
  margin: 2em auto;
  padding: 0 2em;
}

.messageInput {
  width: 100%;
  border-width: 0 0 1px;
  border-color: lightgrey;
  outline: 0;
}

.messages {
  padding: 2em 0;
}

.message {
  display: flow;
  padding: .4em;
}

.message_sender {
  font-weight: bold;
  padding-right: .4em;
}

.message_sender:after {
  content: ':';
}

.message_text {
  flex-grow: 1;
}

.login {
  margin: .2em 0;
  padding: .4em;
  background: gold;
}

.login_user {
  font-weight: 700;
}